.container-fluid{
    margin-top: 10px;
}

.jobs-list{
    margin-left: 40px;
}

.card{
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-btn{
    margin: 20px;
}

.filter-mltislct{
    margin-top: 10px;
    margin-bottom: 10px;
}