<div class="profile-container nav-top-mrgn d-flex">
  <div class="card photo-section" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Current Job Title</h5>
      <p class="card-text">Current job description. Current job description. Current job description. Current job
        description. Current job description. Current job description. Current job description. </p>
    </div>
  </div>
  <div class="profile-details">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="profsnl-tab" data-bs-toggle="tab" data-bs-target="#profsnl" type="button"
          role="tab" aria-controls="profsnl" aria-selected="true">Professional Info</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="prsnl-tab" data-bs-toggle="tab" data-bs-target="#prsnl" type="button"
          role="tab" aria-controls="prsnl" aria-selected="false">Personal Info</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="profsnl" role="tabpanel" aria-labelledby="profsnl-tab">
        <table class="table table-light table-striped">
          <tbody>
            <tr>
              <td>Organisation</td>
              <td>Visa Inc</td>
            </tr>
            <tr>
              <td>Designation</td>
              <td>Senior Software Engineer</td>
            </tr>
            <tr>
              <td>Work Experience</td>
              <td>9 years</td>
            </tr>
            <tr>
              <td>Primary Skills</td>
              <td>Java, Angular</td>
            </tr>
            <tr>
              <td>Education</td>
              <td>B.Tech</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="prsnl" role="tabpanel" aria-labelledby="prsnl-tab">
        <table class="table table-light table-striped">
          <tbody>
            <tr>
              <td>Name</td>
              <td>Soumik Sarkar</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>soumiksarkar90@outlook.com</td>
            </tr>
            <tr>
              <td>Contact Number</td>
              <td>+91-9836059005</td>
            </tr>
            <tr>
              <td>Current City</td>
              <td>Bangalore, IN</td>
            </tr>
            <tr>
              <td>Hobbies</td>
              <td>Photography, Music</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button class="btn btn-primary">Edit Profile</button>
    <button class="btn btn-primary ms-2">Change Password</button>
  </div>
</div>