<app-app-modal [jobInfo]="modalJobInfo"></app-app-modal>


<div class="container-fluid nav-top-mrgn">
  <div class="row justify-content-center">
    <div class="jobs-posted col-md-10">
      <div class="jobs-title text-center">
        <h2 style="margin-top: 10px; margin-bottom: 10px;">20 Jobs Posted</h2>
      </div>
      <div class="d-grid gap-3">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title">Software Developer III</h5>
            <h6 class="card-text">Job Description</h6>
            <p class="text-truncate card-text">With supporting text below as a natural lead-in to additional content.
              With supporting text below as a natural lead-in to additional content.
              With supporting text below as a natural lead-in to additional content.
              With supporting text below as a natural lead-in to additional content.
              With supporting text below as a natural lead-in to additional content.
              With supporting text below as a natural lead-in to additional content.
              With supporting text below as a natural lead-in to additional content.
            </p>
            <button type="button" class="btn btn-primary position-relative" (click)="viewApplications()">
              View Applications
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                99+
                <span class="visually-hidden">unread messages</span>
              </span>
            </button>
            <button style="margin-left: 30px;" class="btn btn-primary" (click)="showDetails()">View Details</button>
          </div>
        </div>
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <button type="button" class="btn btn-primary position-relative">
              View Applications
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                99+
                <span class="visually-hidden">unread messages</span>
              </span>
            </button>
            <button style="margin-left: 30px;" class="btn btn-primary">View Details</button>
          </div>
        </div>
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <button type="button" class="btn btn-primary position-relative">
              View Applications
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                99+
                <span class="visually-hidden">unread messages</span>
              </span>
            </button>
            <button style="margin-left: 30px;" class="btn btn-primary">View Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>